.about-me-bg {
    background-image:url("/assets/images/about-me/about-me.jpg");
    height: 500px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.about-me {
    color:white;
    padding-left: 1%;
    padding-top:5%;
    font-family: VistaSlab;
    line-height:2em;
}
.footer-about {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin-top:10%;
}
@media (max-width:768px){
    h1{
        margin-top: 15%;
    }
    .introduction {
        margin-top: 15%;
    }
    .about-me {
        padding: 2%;
    }
}
@media (max-width:575px){
    h1{
        margin-top: 10%;
    }
    .introduction {
        margin-top: 0;
    }
    .about-me {
        padding: 2%;
    }
}
