html, body {
    max-width: 100%!important; overflow-x: hidden!important
} 
body {
    font-family: VistaSlab;
    font-size: 115%;
}
.navbar-brand:hover {
    color:#ec3429;
}
h1 {
    margin-top:10%;
    padding:1%;
}
h1:hover {
    color:#ec3429;
}
h5:hover {
    color: #ec3429;
}
.navbar {
    padding: 1%;
    background-color: #f8f9fa;
}
.navbar-toggler:hover {
    color:#ec3429;
}
.nav-link:hover {
    color: #ec3429;
}
.dropdown-item:hover {
    color:#ec3429;
}
.dropdown-item:active {
    background-color: #fff;
}
.carousel img {
    margin: auto;
    margin-top: 12%;
}
.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.footer-index {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
    margin-top:15%;
}
.copyright-footer:hover  {
    color:#ec3429;
}
@media (max-width:768px){
    h1 {
        margin-top:15%;
    }
}
@media (max-width:575px){
    h1 {
        margin-top:15%;
        padding-top:15%;
    }
    header {
        padding: 2%;
    }
    .copyright-footer {
        text-align: center;
    }
}
